<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homestay detail</title>
</head>
<body>
<table>
    <tr>
        <th>Homestay {Name1}</th>
        <td>
            <button type="submit">Danh sách Homestay</button>
        </td>
    </tr>
    <tr>
        <td>Tên:</td>
        <td>{Name2}</td>
    </tr>
    <tr>
        <td>Thành phố:</td>
        <td>{City}</td>
    </tr>
    <tr>
        <td>Số phòng ngủ:</td>
        <td>{BedRoom}</td>
    </tr>
    <tr>
        <td>Số phòng vệ sinh:</td>
        <td>{BathRoom}</td>
    </tr>
    <tr>
        <td>Giá:</td>
        <td>{Price}</td>
    </tr>
    <tr>
        <td>Mô tả:</td>
        <td>{Description}</td>
    </tr>
    <tr>
        <td>
            <button type="submit">Chỉnh sửa</button>
        </td>
        <td>
            <button type="submit">Thoát</button>
        </td>
    </tr>
</table>
</body>
</html>